button{
    padding: 10px;
    font-size: large;
    margin-right: 10px;
}

.welcome{
    font-size: 50px;
    color : red;
}

.hook{
    color:blue !important;
}


.class{
    color:green !important;
}